<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel='stylesheet' href="{{ url_for('static',filename='styles/login.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='maya.svg') }}">
        <title>Login - MAYA</title>
    </head>
<body>
    <script src="https://kit.fontawesome.com/22905693d1.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='login.js') }}"></script>
    <div class="login_page">
        <div class="logo_img"><img src="{{ url_for('static', filename='maya.svg') }}"></div>
        <div class="welcome">Welcome Back !</div>
        <form id = "loginForm" action="/login" method="POST">
        <div class="input-email">
            <p id="floating_placeholder">Email Address</p>
            <input type="email" name = "email" id = "email" placeholder="Email Address">
            <span id="edit-email">Edit</span>
        </div>
        <div class="invalid_email"><p><i class="fa-solid fa-circle-exclamation"></i> Email is not valid.</p></div>
        <div class="input-password">
            <div class="border">
                <p id="floating_placeholder-1">Password</p>
                <input type="text" name = "password" id = "password" placeholder="Password">
                <span><i class="fa-solid fa-eye" id="hide"></i></span>
            </div>
        </div>
        <div class="empty_password"><p><i class="fa-solid fa-circle-exclamation"></i> Enter a Password!</p></div>
        <div class="forgot"><a href="/login"><p>Forgot Password?</p></a></div>
        <div class="continue"><button type = "submit">Continue</button></div>
        </form>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var form = document.getElementById('loginForm');
                form.addEventListener('keypress', function(e) {
                    if (e.key === 'Enter') {
                        e.preventDefault(); // Prevent default form submission behavior
                        var activeElement = document.activeElement; // Get currently focused element
                        if (activeElement.tagName.toLowerCase() === 'input') {
                            var nextElement = activeElement.nextElementSibling; // Get next element in the form
                            if (nextElement && nextElement.tagName.toLowerCase() === 'input') {
                                nextElement.focus(); // Move focus to the next input field
                            }
                        }
                    }
                });
            });
        </script>
        <div class="signup"><p>Don't have an account? <a href="/signup">Sign Up</a></p></div>
        <div class="or"><hr><p>OR</p><hr></div>
        <div class="google"><button><i class="fa-brands fa-google"></i>Continue with Google</button></div>
        <div class="microsoft"><button><i class="fa-brands fa-windows"></i>Continue with Microsoft Account</button></div>
        <div class="policy"><p><span>Terms of Use</span> | <span>Privacy Policy</span></p></div>
    </div>
</body>
</html>